<style>
:root {
--brand-color: #19C7A9;
--dark-color: #302A38;
--mid-color: #55505C;
--light-color: #FFFFFF;
  }
</style>



<--Chess-->
<style>
:root {
--brand-color: #E28413;
--dark-color: #000022;
--mid-color: #B09F8B;
--light-color: #FFFAF3;
  }
</style>
