#Vanity Fair
<style>
:root {
--brand-color: #E28413;
--dark-color: #000022;
--mid-color: #B09F8B;
--light-color: #FFFAF3;
  }
</style>

#Oceanica
<style>
:root {
--brand-color: #41CBBF;
--dark-color: #164E63;
--mid-color: #BEC9DF;
--light-color: #F8FAFC;
  }
</style>
